extends layout

block content
  h1 About
  P Good books improve our standard of living.They tone up our intellectual taste they make our outlook broad.
  p Books, magazines and journals do not bore us. They make our life happy
